<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lawniconsiconpack">

    <application android:label="Lawnicons Icon Pack" android:icon="@drawable/ic_launcher">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.anddoes.launcher.THEME"
            android:resource="@xml/appfilter" />
    </application>
</manifest>